.homePageContainer {
  padding: 1%;
  min-height: 100vh;
  background-image: url("../../assets/Background.png");
  background-size: contain;
  .header {
    background: none;
  }
  .card {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 5px 7px rgba(84, 84, 84, 0.5);
  }
}
